body {
    background-color: aquamarine;
}

.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    float: left;
    width: 20%;
}

.menu ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 2px solid white;
    color: black;
}
.menu a:hover {
    color: red; /* kolor menu po najechaniu*/
}

h1 {
   
}

h2 {
    
}