body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    background-color: red;
}

p {
    background-color: yellow;
}

p.akapit1 {
    font-size: 30px;
    padding: 20px;
}

p.akapi2 {
    color: blue;
}

li:nth-child(){
    color: chocolate;

}

li {
    display: flex;
    align-items: center;
    margin: 10px;

}

div.img {
    width: 400px;
    height: 300px;

}
/*
img {
    width: 400px;
    height: 300px;

}
*/

img {
    max-width: 100%;
    object-fit: cover;
}