<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt mojej strony</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <h2>Witaj!</h2>
                <h1>Jestem adam Kowalski</h1>
                <h3>Web developer - freelancer</h3>
                <button>Zobacz moje portfolio</button>
            </div>
        </div>
        <div class="img-wrap">
        <img src="images/photo1.png" alt=",moje zdjęcie"/>
         </div>

         <section class="www">
             <div class="container">
                 <h2>Tworze bardzo dobre strony internetowe</h2>
                 <div class="www-items">
                     <div class="www-item">
                         <img src="/images/services1.png" alt="" />
                         <h4>nowoczesne i zgodne z aktualbnymi standardami</h4>
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum blanditiis expedita exercitationem laboriosam aliquam minima cumque dolores harum? Quas quo perspiciatis ab placeat, deserunt obcaecati illo possimus consequatur? Dignissimos, rerum!</p>
                     </div>

                     <div class="www-items">
                        <div class="www-item">
                            <img src="/images/services1.png" alt="" />
                            <h4>nowoczesne i zgodne z aktualbnymi standardami</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum blanditiis expedita exercitationem laboriosam aliquam minima cumque dolores harum? Quas quo perspiciatis ab placeat, deserunt obcaecati illo possimus consequatur? Dignissimos, rerum!</p>
                        </div>

                        <div class="www-items">
                            <div class="www-item">
                                <img src="/images/services1.png" alt="" />
                                <h4>nowoczesne i zgodne z aktualbnymi standardami</h4>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum blanditiis expedita exercitationem laboriosam aliquam minima cumque dolores harum? Quas quo perspiciatis ab placeat, deserunt obcaecati illo possimus consequatur? Dignissimos, rerum!</p>
                            </div>
                 </div>
             </div>
         </div>
    </header>
    
    
</body>
</html>